<div class="container" ng-controller="miejsceview-ctrl">

    <label class=>Miejsce id : </label> <span>{{miejsce.id}}</span><br>
    <label>Kod : </label> <span>{{miejsce.kod}}</span><br>
    <label>Nazwa : </label> <span>{{miejsce.nazwa}}</span><br>
    <label>Opis : </label> <span>{{miejsce.opis}}</span><br>
    <label>Pomiesczenie :</label> <span>{{miejsce.pomieszczenie}}</span><br>
    <label>Zbiorcze : </label> <span>{{miejsce.zb}}</span><br>
    <label>Połączenie : </label> <span>{{miejsce.pol}}</span><br>

    <hr>

    <h4>Zewnetrzne</h4>
    <fieldset class="panel" ng-repeat="zew in zewnetrzne">
        <legend >{{zew}}</legend>
        <label >Numer</label>{{zew}}</span><br>
        <label >Opis : </label><span></span>{{przewody[zew].opis}}</span><br>
        <label >Ilość żył : </label><span>{{przewody[zew].ilosc_zyl}}</span><br>
        <label >Zakończenie</label> <span>{{zakonczenia[zew][0].kod}} - {{zakonczenia[zew][0].etykieta}}</span><br>
        <table class="table table-bordered ">
            <tr><th>Lp.</th><th colspan="2">Kolor</th><th>Opis</th></tr>
            <tr ng-repeat="zyla in zyly[zew]">
                <td>{{$index + 1}}</td>
                <td ng-style='{"background-color": "{{zyla.html}}"}'>&nbsp;</td>
                <td>{{zyla.kolor}}</td>
                <td>{{zyla.opis}}</td>
            </tr>
        </table>
    </fieldset>

    <h4>Wewnetrzne</h4>
    <fieldset ng-repeat="wew in wewnetrzne">
        <legend>{{wew}}</legend>
        <label>Numer : </label><span>{{wew}}</span><br>
        <label>Opis : </label><span>{{przewody[wew].opis}}</span><br>
        <label>Ilość żył : </label><span>{{przewody[wew].ilosc_zyl}}</span><br>
        <label>Zakończenie 1</label> <span>{{zakonczenia[wew][0].kod}} - {{zakonczenia[wew][0].etykieta}}</span><br>
        <label>Zakończenie 2</label> <span>{{zakonczenia[wew][1].kod}} - {{zakonczenia[wew][1].etykieta}}</span><br>
        <table class="table table-bordered ">
            <tr ng-repeat="zyla in zyly[wew]">
                <td>{{$index+1}}</td>
                <td ng-style='{"background-color": "{{zyla.html}}"}'>&nbsp;</td>
                <td>{{zyla.kolor}}</td>
                <td>{{zyla.opis}}</td>
            </tr>
        </table>
    </fieldset>
</div>
