<div class="container" ng-controller="miejsca-ctrl">

    <p>

    <a href="#!/miejsca/0" >Wszystkie</a> 
    <a href="#!/miejsca/-1" >Zbiorcze</a> 
    <a href="#!/miejsca/-2" >Połączenia przewodów</a> 
    <a href="#!/miejsca/{{pom.id}}" ng-repeat="pom in pomieszczenia track by pom.id"> {{pom.nazwa}} </a> 
    
    </p>
    <p>
    <h4>{{title}}</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th ng-if="pid == 0">Pomieszczenie</th>
                <th>Opis</th>
                <th>Przewody</th>
                <th>Zakończenia</th>
                <th>Zbiorcze</th>
                <th>Polaczenia</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="miejsce in miejsca track by miejsce.id" 
                ng-style='$odd ? {"background-color": "#f1f1f1"} : {"background-color": "#ffffff"}'>
                <td>{{miejsce.id}}<br><span style="font-size: x-small;">{{miejsce.kod}}</span></td>
                <td>{{miejsce.nazwa}}</td>
                <td ng-if="pid == 0">{{miejsce.pomieszczenie}}</td>
                <td>{{miejsce.opis}}</td>
                <td><span ng-show="przewody[miejsce.id].length > 0" >Przewody ({{przewody[miejsce.id].length}}) : </span>  
                    <span ng-repeat="p in przewody[miejsce.id] track by $index">{{p}}, </span>
                </td>
                <td>
                    

                    <p ng-repeat="r in rodzaj track by $index| toArray:true" ng-if="zakonczenia[miejsce.id][r.$key].length > 0">
                        <span>{{r.$value}}</span>
                        (<span>{{zakonczenia[miejsce.id][r.$key].length}}</span>)
                        <span ng-repeat="z in zakonczenia[miejsce.id][r.$key] track by $index | orderBy : '+'">{{z}}, </span> 
                    </p>
                </td>
                <td>{{miejsce.zbiorcze}}</td>
                <td>{{miejsce.polaczenie}}</td>
                <td>
                    <input type="button" ng-click="editPlace(miejsce)" value="Edytuj">
                </td>
            </tr>
            <tr ng-repeat-end ng-if="editRow.id == miejsce.id">
                <td><input type="text" ng-model="editRow.kod"></td>
                <td><input type="text" ng-model="editRow.nazwa"></td>
                <td ng-if="pid == 0">
                    <select ng-options="item as item.nazwa for item in pomieszczenia track by item.id" ng-model="editRow.pom"></select>
                </td>
                <td><input type="text" ng-model="editRow.opis"></td>
                <td></td>
                <td></td>
                
                <td><select ng-options="zb for zb in ['0','1']" ng-model=editRow.zbiorcze></select></td>
                <td><select ng-options="po for po in ['0','1']" ng-model=editRow.polaczenie></select></td>
                
                <td>
                    <input type="button" ng-click="saveEditPlace()" value="Zachowaj">
                    <input type="button" ng-click="cancelEdit()" value="Anuluj">
                </td>
            </tr>
            <tr>
                <td colspan="{{ pid == 0 ? 8 : 7 }}"></td>
                <td><input type="button" ng-click="addPlace()" value="Dodaj"></td>
            </tr>
            <tr ng-if="addRow.id == -1">
                <td><input type="text" ng-model="addRow.kod"></td>
                <td><input type="text" ng-model="addRow.nazwa"></td>
                <td ng-if="pid == 0">
                    <select ng-options="item as item.nazwa for item in pomieszczenia track by item.id" ng-model="addRow.pom"></select>
                </td>
                <td><input type="text" ng-model="addRow.opis"></td>
                <td></td>
                <td></td>
                
                <td><select ng-options="zb for zb in ['0','1']" ng-model=addRow.zbiorcze></select></td>
                <td><select ng-options="po for po in ['0','1']" ng-model=addRow.polaczenie></select></td>
                
                <td>
                    <input type="button" ng-click="saveAddPlace()" value="Zachowaj">
                    <input type="button" ng-click="cancelAdd()" value="Anuluj">
                </td>
            </tr>    
        </tbody>
    </table>
    </p>
</div>        