<div ng-controller="polaczenieadd-ctrl">
    <div class="w3-container" ng-show="choose">
        <label>Wybierz miejsce</label>
        <select ng-model="id_miejsce" ng-options="miejsce as miejsce.name for miejsce in miejsca" ng-change="zmianaMiejsca()">
        </select><br>

        <label>Wybierz połączenie</label>
        <select ng-model="zak_id" ng-options="polaczenie as polaczenie.name for polaczenie in polaczenia" ng-change="zmianaPolMiejsca()">
        </select><br>
        <input type="button" ng-click="chooseMiejsce(false)" value="Dodaj połączenia"><br>
    </div>
    <div class="w3-container" ng-show="!choose">
        <table>
            <tr>
                <td>
                    <label>Wybierz przewod 1</label>
                    <select ng-model="przewod1" ng-options="przew for przew in przewody" ng-change="zmianaPrzewodu1()">
                    </select>
                </td>
                <td>&nbsp;</td>
                <td>
                    <label>Wybierz przewod 2</label>
                    <select ng-model="przewod2" ng-options="przew for przew in przewody" ng-change="zmianaPrzewodu2()">
                    </select>
                </td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr ng-show="przewod1 && przewod2">
                <td colspan="3">
                    <table>
                        <tr>
                            <th>Żyły przewodu {{przewod1}}</th>
                            <th>Żyły przewodu {{przewod2}}</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="zyla in zyly1">
                            <td style="text-align: left;"><span ng-style='{"background-color": "{{zyla.chtml}}"}' style="width: 5px;">&nbsp;</span>
                                {{zyla.cname}} - {{zyla.opis}}
                            </td>
                            <td>
                                <select ng-model="zyla2[zyla.id]" 
                                    ng-options="z as z.id + '.' + z.cname + ' : ' + z.opis  for z in zyly2" 
                                    ng-change="zmianaZyly2(zyla.id)"></select>
                            </td>
                            <td>
                                <input type="button" ng-click="insertPolaczenia(zid, z1,z2)" value="Dodaj">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <input type="button" ng-click="chooseMiejsce(true)" value="Anuluj">&nbsp;<input type="button" ng-click="addPolaczenie()" value="Dodaj">
    </div>
</div>