<div class="container" ng-controller="polaczenia_plytkowe-ctrl">
    
    <div ng-show="plyta_id.$key == 0">
        <label>Wybierz płytkę</label>
        <select ng-options="item as item.nazwa group by item.miejsce for item in plytki | toArray:true | orderBy:['pomie', 'miejsce', 'nazwa']" 
                ng-model = "plytka_id" 
                ng-change = "selectPlytka(true)">
                <optgroup label="Wszystkie">
                    <option value="0">Wszystkie</option>    
                </optgroup> 
        </select>
    </div>

    <div ng-show="plyta_id.$key > 0">
        <input type="button" ng-click="selectPlytka(false)" value="Pokaż wszystkie"></input>
    </div>

    <div ng-show="plyta_id.$key == 0">
        <table  class="table" ng-repeat-start="(pomieszczenie, miejscelist) in plytkilist">
            <caption>{{pomieszczenie}}</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Płytka</th>
                    <th>Ilość</th>
                    <th>Nazwane połączenia</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start = "(miejsce,plytki_id) in miejscelist" 
                    style="background-color: #D3D3D3">
                    <td colspan="4">{{miejsce}}</td>
                </tr>
                <tr ng-repeat="pid in plytki_id" 
                    ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'  >
                    <td>{{pid}}</td>
                    <td>{{plytki[pid].nazwa}}</td>
                    <td>{{ilosc_pin[pid] || 0}}</td>
                    <td>
                        <span ng-repeat="pol in polaczenia[pid]">
                            &nbsp;<span style="border : 1px solid black">&nbsp;{{pol.nazwa}}&nbsp;</span>&nbsp;
                        </span>
                    </td>
                </tr>
                <tr ng-repeat-end ng-if="false"></tr>
            </tbody>
        </table>
        <hr ng-repeat-end>
    </div>

    <div ng-show="plyta_id.$key > 0">
        <label>Pomieszczenie: </label> <b>{{plyta_id.pomie}}</b><br>
        <label>Miejce: </label> <b>{{plyta_id.miejsce}}</b><br>
        <label>Nazwa: </label> <b>{{plyta_id.nazwa}}</b><br>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Lista połączeń</th>
                <th>Akcje</th>
            </tr>
            <tr ng-repeat-start=" pol in polaczenia[plyta_id.$key]"
            ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
                <td>
                    {{pol.id}}
                </td>
                <td>
                    {{pol.nazwa}}
                </td>
                <td>
                    <table class="table stripped" ng-if="polaczenienazwane[pol.id].length > 0">
                        <tr style="font:small">
                            <th>Nazwa elementu</th>
                            <th>Nazwa pinu</th>
                            <th>Rodzaj złącza</th>
                            <th>Pozycja pinu</th>
                        </tr>
                        <tr ng-repeat="pin in polaczenienazwane[pol.id]" style="font:small"
                        ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
                            <td>{{pin.elemnazwa}}</td>
                            <td>{{pin.pinnazwa}}</td>
                            <td>{{pin.rodznazwa}}</td>
                            <td>{{pin.pos}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <input ng-show="editRow.id != pol.id && polRow.id != pol.id" type="button" ng-click="editPin(pol)" value="Edytuj"></input>
                    <input ng-show="editRow.id != pol.id && polRow.id != pol.id" type="button" ng-click="addPolaczenie(pol.id)" value="Dodaj połączenie"></input>
                </td>
            </tr>
            <tr ng-show="polRow.id == pol.id" >
                <td></td>
                <td></td>
                <td>
                    <select ng-options="item as (item.pos +'. '+ item.pinnazwa) group by item.elementnazwa for item in pins[plyta_id.$key] | toArray:true " 
                    ng-model="polRow.pinid" 
                    >

                    </select>
                </td>
                <td>
                    <input type="button" ng-click="savePolaczenie()" value="Zachowaj"></input>
                    <input type="button" ng-click="addPolaczenie(-1)" value="Anuluj"></input>
                </td>
            </tr>
            <tr ng-repeat-end ng-show="editRow.id == pol.id">
                <td></td>
                <td><input type="text" ng-model="editRow.nazwa"></td>
                <td></td>
                <td>
                    <input type="button" ng-click="savePin()" value="Zachowaj"></input>
                    <input type="button" ng-click="editPin({'id':-1, 'nazwa' : ''})" value="Anuluj"></input>
                </td>
            </tr>
            <tr ng-show="!addPol">
                <td colspan="3"></td>
                <td><input type="button" ng-click="addNazwanyPin(true)" value="Dodaj"></input></td>
            </tr>
            <tr ng-show="addPol">
                <td></td>
                <td><input type="text" ng-model="nowa_nazwa_polaczenia"></td>
                <td></td>
                <td><input type="button" ng-click="addPin(false)" value="Anuluj"></input>
                    <input type="button" ng-click="addPin(true)" value="Zachowaj"></input></td>
            </tr>
        </table>

        
    </div>
</div>

<!--
"id" => $row["id"],
"pinpid" => $row["elementy_plytkowe_piny_id"],
"pinnazwa" => $row["pinnazwa"],
"pos" => $row["pos"],
"elemnazwa" => $row["elemnazwa"],
"rodznazwa" => $row["rodznazwa"],
"rodz_kod" => $row["kod"]
-->