<div>
</div>

<div ng-if="miejsce.zakid !== undefined && miejsce.zakid !== null">
    <p>{{miejsce.r_naz}} : {{miejsce.etyk}}</p>

    <!-- {{miejsc_przewod.przewod_miejsce_id_zlacze}} -->
    <table class="table table-condensed" ng-if="miejsce.r_kod == 'W'">
        <tr ng-repeat="zak1 in zakonczenie1[miejsce.pmid]">
            <!-- <td>{{zk1.zyla_id}}</td> -->
            <td>{{zak1.pos}}</td>
            <td ng-style='{"background-color": "{{zak1.html}}"}'>&nbsp;</td>
            <td>{{zak1.kolor}}</td>
        </tr>
    </table>

    <table class="table table-condensed"  ng-if="miejsce.r_kod == 'P'" >
        <tr ng-repeat="(key, value) in zakonczenie2[miejsce.zakid]">
            <td ng-style='{"background-color": "{{zyla[key].html}}"}'>&nbsp;</td>
            <!--
            <td>{{zyla[key].kolor}}</td>
            <td>{{zyla[key].opis}}</td>
            -->
            <td>-</td>
            <td ng-if="value.length == 1">{{zyla[value[0]].pid}}</td>
            <td ng-if="value.length == 1" ng-style='{"background-color": "{{zyla[value[0]].html}}"}'>&nbsp;</td>
            <td ng-if="value.length == 1">{{zyla[value[0]].kolor}}</td> 
            <td ng-if="value.length == 1">{{zyla[value[0]].opis}}</td>            
            
            <td ng-if="value.length > 1" colspan="4">
                <table class="table table-bordered" >
                    <tr ng-repeat="zyla3 in value">
                        <td>{{zyla[zyla3].pid}}</td>
                        <td ng-style='{"background-color": "{{zyla[zyla3].html}}"}'>&nbsp;</td>
                        <td>{{zyla[zyla3].kolor}}</td> 
                        <td>{{zyla[zyla3].opis}}</td>            
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


<div ng-if="miejsce.zakid === undefined || miejsce.zakid === null">
    <a href="#!/zakonczenie_add/{{miejsce.pmid}}">Dodaj zakonczenie</a>
</div>

