<div class="container" ng-controller="przewody-ctrl">
    <p>
        <span><button ng-click="choose(-1, 'Wszystkie');">Wszystkie</button> </span>
        <span ng-repeat="zb in miejsca | toArray:true | orderBy:'+nazwa'"><button ng-if="zb.zbiorcze!=0 || zb.polaczenie!=0" ng-click="choose(zb.id, zb.pomieszczenie + ' : ' + zb.nazwa);">{{zb.nazwa}}</button> </span>
    </p>
    <h4>{{selectZbiorcze == -1 ? "Wszystkie" : chooseName}} </h4>
    <button ng-click="setDetailsAll()">{{ detailsAll ? "Ukryj " : "Pokaż "}} wszystkie</button> </span>

    <table class="table">

        <tr><th> Nr przewodu </th><th> Opis </th><th> Ilość żył </th>
            <th> Miejsce początkowe </th><th> Miejsce końcowe </th>
            <th> Akcje </th>
        </tr>
        <tr ng-repeat-start="wire in przewody" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'
                ng-show = "selectZbiorcze == miejsca_przewody[wire.id][1].miejsce_id || 
                selectZbiorcze == miejsca_przewody[wire.id][0].miejsce_id || 
                selectZbiorcze == -1"
        >
            <td style="text-align: center; font-size: xx-large;">{{wire.id }}</td>
            <td style="text-align: left;">{{ wire.opis }}</td>
            <td style="text-align: center;">{{ wire.ilosc_zyl }}</td>
            <td style="text-align: left;" 
                ng-show="miejsca_przewody[wire.id][0].miejsce_id == selectZbiorcze">
                <a href="#!/miejsce_view/{{miejsca_przewody[wire.id][0].miejsce_id}}">
                    {{ chooseName }}
                </a>
            </td>
            <td style="text-align: left;" 
                ng-show="miejsca_przewody[wire.id][1].miejsce_id == selectZbiorcze">
                <a href="#!/miejsce_view/{{miejsca_przewody[wire.id][1].miejsce_id}}">
                    {{ chooseName }}
                </a>
            </td>
            <td style="text-align: left;" ng-show="miejsca_przewody[wire.id][0].miejsce_id != selectZbiorcze">
                <a href="#!/miejsce_view/{{miejsca_przewody[wire.id][0].miejsce_id}}">
                    {{ miejsca[miejsca_przewody[wire.id][0].miejsce_id].pomieszczenie }} : 
                    {{ miejsca[miejsca_przewody[wire.id][0].miejsce_id].nazwa }}
                </a>
            </td>
            <td style="text-align: left;" ng-show="miejsca_przewody[wire.id][1].miejsce_id != selectZbiorcze">
                <a href="#!/miejsce_view/{{miejsca_przewody[wire.id][1].miejsce_id}}">
                    {{ miejsca[miejsca_przewody[wire.id][1].miejsce_id].pomieszczenie }} : 
                    {{ miejsca[miejsca_przewody[wire.id][1].miejsce_id].nazwa }}
                </a>
            </td>
            <td style="text-align: center;"> <div class="btn-group">
                <div style="display: flex;"><button ng-click="seteditPlace(wire)">Edytuj</button>&nbsp;<button ng-click="setDetails(wire)">Szczegóły</button></div>
            </td>
        </tr>
        <tr ng-show="detailsAll || detailsId == wire" style="background-color: honeydew;">
            <td colspan="3">
                <p>Żyly</p>
                <table class="table table-condensed">
                    <tr ng-repeat="zyla in zyly[wire.id]">
                        
                        <td>{{$index+1}}</td>
                        <td>{{zyla.zyla_id}}</td> 
                        <td ng-style='{"background-color": "{{zyla.html}}"}'>&nbsp;</td>
                        <td>{{zyla.kolor}}</td>
                        <td>{{zyla.opis}}</td>
                    </tr>
                </table>
            </td>
            <td style="text-align: left;" 
                ng-if="miejsca_przewody[wire.id][0].miejsce_id == selectZbiorcze">
                <div ng-init = "miejsce_przewod = miejsca_przewody[wire.id][0]"
                ng-include = "'przewody_details.part.htm'"></div>
            </td>
            <td style="text-align: left;" 
                ng-if="miejsca_przewody[wire.id][1].miejsce_id == selectZbiorcze">
                <div ng-init = "miejsce_przewod = miejsca_przewody[wire.id][1]"
                ng-include = "'przewody_details.part.htm'"></div>
            </td>
            <td style="text-align: left;" 
                ng-if="miejsca_przewody[wire.id][0].miejsce_id != selectZbiorcze">
                <div ng-init = "miejsce_przewod = miejsca_przewody[wire.id][0]"
                ng-include = "'przewody_details.part.htm'"></div>
            </td>
            <td style="text-align: left;" 
                ng-if="miejsca_przewody[wire.id][1].miejsce_id != selectZbiorcze">
                <div ng-init = "miejsce_przewod = miejsca_przewody[wire.id][1]"
                ng-include = "'przewody_details.part.htm'"></div>
            </td>
            <td><button ng-click="setDetails(-1)">Ukryj</button></td>
        </tr>
        <tr ng-repeat-end ng-show="editRow.id == wire.id">
            <td></td>
            <td><input type="text" ng-model="editRow.opis"></td>
            <td><input type="number" min="1" max="16" string-to-number ng-model="editRow.ilosc_zyl"></td>
            <td style="text-align: left;">
                <select ng-options="item as item.nazwa group by item.pomieszczenie for item in miejsca | toArray:true | orderBy:['pomieszczenie', 'nazwa']" 
                ng-model = "editRow.miejsce_id1" ></select>
            </td>
            <td style="text-align: left;">
                <select ng-options="item as item.nazwa group by item.pomieszczenie for item in miejsca | toArray:true | orderBy:['pomieszczenie', 'nazwa']" 
                ng-model = "editRow.miejsce_id2" ></select>
            </td>
            <td><div style="display: flex;"><button ng-click="saveEdit()">Zachowaj</button>&nbsp;<button ng-click="cancelEdit()">Anuluj</button></div></td>
        </tr> 
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button ng-click="addAdd()">Dodaj</button></td>
        </tr>
        <tr ng-show="addRow.add">
            <td><input type="text" ng-model="addRow.id"></td>
            <td><input type="text" ng-model="addRow.opis"></td>
            <td><input type="number" min="1" max="16" string-to-number ng-model="addRow.ilosc_zyl"></td>
            <td style="text-align: left;">
                <select ng-options="item as item.nazwa group by item.pomieszczenie for item in miejsca | toArray:true | orderBy:['pomieszczenie', 'nazwa']" 
                ng-model = "addRow.miejsce_id1" ></select>
            </td>
            <td style="text-align: left;">
                <select ng-options="item as item.nazwa group by item.pomieszczenie for item in miejsca | toArray:true | orderBy:['pomieszczenie', 'nazwa']" 
                ng-model = "addRow.miejsce_id2" ></select>
            </td>
            <td><div style="display: flex;"><button ng-click="saveAdd()">Zachowaj</button>&nbsp;<button ng-click="cancelAdd()">Anuluj</button></div></td>
        </tr>
    </table>
</div>
