<div class="container" ng-controller="zlacza-ctrl">

    <table class="table">
        <caption>Złącza kablowe</caption>
        <tr>
            <th> Id </th>
            <th> Nr przewodu </th>
            <th> Miejsce </th>
            <th> Opis </th>
            <th> Nazwa</th>
            <th> Ilość pinów </th>
            <th> Ilość żył </th>
            <th> Ilość żył </th>
            <th> Akcje </th>
        </tr>
        <tr ng-repeat-start="zl in k_zlacza" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.zid}}</td>
            <td>{{zl.przewod_id}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.opis}} </td>
            <td>{{zl.etykieta}} </td>
            <td>{{zl.ilosc_pin}}</td>
            <td>{{zl.ilosc_zyl}}</td>
            <td></td>
        </tr>
        <tr ng-show="false"></tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <br>
    <table class="table">
        <caption>Urządzenia kablowe</caption>
        <tr>
            <th> Id </th>
            <th> Nr przewodu </th>
            <th> Miejsce </th>
            <th> Opis </th>
            <th> Nazwa</th>
            <th> Ilość pinów</th>
            <th> Ilość żył</th>
            <th> Akcje</th>
        </tr>
        <tr ng-repeat-start="zl in k_urzadzenia" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.zid}}</td>
            <td>{{zl.przewod_id}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.opis}} </td>
            <td>{{zl.etykieta}} </td>
            <td>{{zl.ilosc_pin}}</td>
            <td>{{zl.ilosc_zyl}}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="7">
                <table class="table">
                    <tr>
                        <th> Pos </th>
                        <th> Id </th>
                        <th colspan="2"> Kolor </th>
                        <th> Opis </th>
                    </tr>
                    <tr ng-repeat="zylaid in zakonId[zl.zid]">
                        <td>{{zylaid.pos}}</td>
                        <td>{{zylaid.id}}</td>
                        <td ng-style='{"background-color": "{{zyly[zylaid.id].html}}"}'>&nbsp;</td>
                        <td>{{zyly[zylaid.id].kolor}}</td>
                        <td>{{zyly[zylaid.id].opis}}</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <br>
    <table class="table">
        <caption>Połączenia kablowe kablowe</caption>
        <tr>
            <th> Id </th>
            <th> Nr przewodu </th>
            <th> Miejsce </th>
            <th> Opis </th>
            <th> Nazwa </th>
            <th> Ilość pinów </th>
            <th> Ilość żył </th>
            <td></td>
        </tr>
        <tr ng-repeat-start="zl in k_polaczenia_kablowe" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.zid}}</td>
            <td>{{zl.przewod_id}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.opis}} </td>
            <td>{{zl.etykieta}} </td>
            <td>{{zl.ilosc_pin}}</td>
            <td>{{zl.ilosc_zyl}}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="7">
                <table class="table">
                    <tr>
                        <th> Pos </th>
                        <th> Id </th>
                        <th colspan="2"> Kolor </th>
                        <th> Opis </th>
                    </tr>
                    <tr ng-repeat="zylaid in zakonId[zl.zid]">
                        <td>{{zylaid.pos}}</td>
                        <td>{{zylaid.id}}</td>
                        <td ng-style='{"background-color": "{{zyly[zylaid.id].html}}"}'>&nbsp;</td>
                        <td>{{zyly[zylaid.id].kolor}}</td>
                        <td>{{zyly[zylaid.id].opis}}</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <br>
    <table class="table">
        <caption>Połaczenia płytkowe kablowe</caption>
        <tr>
            <th> Id </th>
            <th> Nr przewodu </th>
            <th> Miejsce </th>
            <th> Opis </th>
            <th> Nazwa </th>
            <th> Ilość pinów </th>
            <th> Ilość żył </th>
            <th>Akcje </th>
        </tr>
        <tr ng-repeat-start="zl in k_polaczenia_plytkowe" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.zid}}</td>
            <td>{{zl.przewod_id}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.opis}} </td>
            <td>{{zl.urzadzenie}} </td>
            <td>{{zl.ilosc_pin}}</td>
            <td>{{zl.ilosc_zyl}}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="7">
                <table class="table">
                    <tr>
                        <th> Pos </th>
                        <th> Id </th>
                        <th colspan="2"> Kolor </th>
                        <th> Opis </th>
                    </tr>
                    <tr ng-repeat="zylaid in zakonId[zl.zid]">
                        <td>{{zylaid.pos}}</td>
                        <td>{{zylaid.id}}</td>
                        <td ng-style='{"background-color": "{{zyly[zylaid.id].html}}"}'>&nbsp;</td>
                        <td>{{zyly[zylaid.id].kolor}}</td>
                        <td>{{zyly[zylaid.id].opis}}</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <br>
    <table class="table">
        <caption>Wtyczki kablowe</caption>
        <tr>
            <th>Id </th>
            <th> Nr przewodu </th>
            <th> Miejsce </th>
            <th> Opis </th>
            <th> Nazwa </th>
            <th> Ilość pinów </th>
            <th> Ilość żył </th>
            <th> Płytka </th>
            <th> Etykieta </th>
            <th> Akce </th>
        </tr>
        <tr ng-repeat-start="zl in k_wtyczki" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.zid}}</td>
            <td>{{zl.przewod_id}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.opis}} </td>
            <td>{{zl.etykieta}} </td>
            <td>{{zl.ilosc_pin}}</td>
            <td>{{zl.ilosc_zyl}}</td>
            <td>{{wtyczka_zlacze[zl.zid].plytka_opis}}</td>
            <td>{{wtyczka_zlacze[zl.zid].etykieta}}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="7">
                <table class="table">
                    <tr>
                        <th> Pos </th>
                        <th> Id </th>
                        <th colspan="2"> Kolor </th>
                        <th> Opis </th>
                    </tr>
                    <tr ng-repeat="zylaid in zakonId[zl.zid]">
                        <td>{{zylaid.pos}}</td>
                        <td>{{zylaid.id}}</td>
                        <td ng-style='{"background-color": "{{zyly[zylaid.id].html}}"}'>&nbsp;</td>
                        <td>{{zyly[zylaid.id].kolor}}</td>
                        <td>{{zyly[zylaid.id].opis}}</td>
                    </tr>
                </table>
            </td>
            <td colspan="2">
                <table class="table">
                    <tr>
                        <th> Pos </th>
                        <th> Id </th>
                        <th> Nazwa </th>
                        <th> Połączenie </th>
                    </tr>
                    <tr ng-repeat="pinyid in plytkaId[wtyczka_zlacze[zl.zid].zlacze_id]">
                        <td>{{pinyid.pos}}</td>
                        <td>{{pinyid.id}}</td>
                        <td>{{piny[pinyid.id].pinnazwa}}</td>
                        <td>{{pnazwa[pinyid.id].nazwa}}</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <br>
    <table class="table">
        <caption>Inne kablowe</caption>
        <tr>
            <th> Id </th>
            <th> Nr przewodu </th>
            <th> Miejsce </th>
            <th> Opis </th>
            <th> Rodzaj zakończenia</th>
            <th> Nazwa</th>
            <th> Ilość pinów</th>
            <th> Ilość żył</th>
            <th> Akce </th>
        </tr>
        <tr ng-repeat-start="zl in k_inne" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.zid}}</td>
            <td>{{zl.przewod_id}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.opis}} </td>
            <td>{{zl.urzadzenie}} </td>
            <td>{{zl.etykieta}} </td>
            <td>{{zl.ilosc_pin}}</td>
            <td>{{zl.ilosc_zyl}}</td>
            <td></td>
        </tr>
        <tr ng-show="false"></tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <hr>


    <table class="table">
        <caption>Złącza płytkowe</caption>
        <tr>
            <th> Id </th>
            <th> Płytka </th>
            <th> Miejsce </th>
            <th> Nazwa </th>
            <th> Ilość pinów </th>
            <th> Wtyczka </th>
            <th> Przewód </th>
            <th> Opis </th>
            <th> Ilość żył </th>
            <th> Akcje</th>
        </tr>
        <tr ng-repeat-start="zl in p_zlacza" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.pid}}</td>
            <td>{{zl.plytka_id}}. {{zl.pnazwa}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.etykieta}} </td>
            <td>{{zl.ilosc_pin}}</td>
            <td colspan="3" ng-if="!zlacze_wtyczka[zl.pid]">
                <select ng-options="item.id as (item.etykieta + ':' + item.przewod_id) for item in wtyczki" 
                ng-model = "wtyczka_add[zl.pid]" ></select>
            </td>
            <td ng-if="!zlacze_wtyczka[zl.pid]">
                <button ng-click="saveZlaczeWtyczka(zl.pid)">Dodaj Wtyczke</button>&nbsp;
            </td>
            <td ng-if="zlacze_wtyczka[zl.pid]">{{zlacze_wtyczka[zl.pid].etykieta}}</td>
            <td ng-if="zlacze_wtyczka[zl.pid]">{{zlacze_wtyczka[zl.pid].przewod_id}}</td>
            <td ng-if="zlacze_wtyczka[zl.pid]">{{zlacze_wtyczka[zl.pid].opis}}</td>
            <td ng-if="zlacze_wtyczka[zl.pid]">{{zlacze_wtyczka[zl.pid].ilosc_zyl}}</td>
            <td></td>
            <!--
            <td><div class="btn-group">
                <div style="display: flex;">
                    <button ng-click="seteditPlace(pid)">Edytuj</button>&nbsp;
                    <button ng-click="setDetails(pid)">Szczegóły</button></div></td>
            -->
        </tr>
        <tr>
            <td colspan="6">
                <table class="table">
                    <tr>
                        <th> Pos </th>
                        <th> Id </th>
                        <th> Nazwa </th>
                        <th> Połączenie </th>
                        <th> Inne piny </th>
                    </tr>
                    <tr ng-repeat="pinyid in plytkaId[zl.pid]">
                        <td>{{pinyid.pos}}</td>
                        <td>{{pinyid.id}}</td>
                        <td>{{piny[pinyid.id].pinnazwa}}</td>
                        <td>{{pnazwa[pinyid.id].nazwa}}</td>
                        <td><span ng-repeat="item in polaczenia_plytkowe[pnazwa[pinyid.id].id]">
                            [{{piny[item].enazwa}}].{{piny[item].pos}} ({{piny[item].pinnazwa}}), </span></td>
                    </tr>
                </table>
            </td>
            <td colspan="3">
                <table class="table">
                    <tr>
                        <th> Pos </th>
                        <th> Id </th>
                        <th colspan="2"> Kolor </th>
                        <th> Opis </th>
                    </tr>
                    <tr ng-repeat="zylaid in zakonId[zlacze_wtyczka[zl.pid].wtyczka_id]">
                        <td>{{zylaid.pos}}</td>
                        <td>{{zylaid.id}}</td>
                        <td ng-style='{"background-color": "{{zyly[zylaid.id].html}}"}'>&nbsp;</td>
                        <td>{{zyly[zylaid.id].kolor}}</td>
                        <td>{{zyly[zylaid.id].opis}}</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <br>
    <table class="table">
        <caption>Urządzenia płytkowe</caption>
        <tr>
            <th> Id </th>
            <th> Płytka </th>
            <th> Miejsce </th>
            <th> Nazwa </th>
            <th> Ilość pinów </th>
            <th> Akcje </th>
        </tr>
        <tr ng-repeat-start="zl in p_urzadzenia" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.zid}}</td>
            <td>{{zl.plytka_id}}. {{zl.pnazwa}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.etykieta}} </td>
            <td>{{zl.ilosc_pin}}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">
                <table class="table">
                    <tr>
                        <th> Pos </th>
                        <th> Id </th>
                        <th> Nazwa </th>
                    </tr>
                    <tr ng-repeat="pinyid in plytkaId[zl.pid]">
                        <td>{{pinyid.pos}}</td>
                        <td>{{pinyid.id}}</td>
                        <td>{{piny[pinyid.id].pinnazwa}}</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <br>
    <table class="table">
        <caption>Połączenia kablowe płytkowe</caption>
        <tr>
            <th>Id</th>
            <th> Płytka </th>
            <th> Miejsce </th>
            <th> Nazwa</th>
            <th> Ilość pinów</th>
        </tr>
        <tr ng-repeat-start="zl in polaczenia_kablowe" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.zid}}</td>
            <td>{{zl.plytka_id}}. {{zl.pnazwa}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.etykieta}} </td>
            <td>{{zl.ilosc_pin}}</td>
        </tr>
        <tr ng-show="false">

        </tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <br>
    <table class="table">
        <caption>Połaczenia płytkowe płytkowe</caption>
        <tr>
            <th>Id</th>
            <th> Płytka </th>
            <th> Miejsce </th>
            <th> Nazwa</th>
            <th> Ilość pinów</th>
        </tr>
        <tr ng-repeat-start="zl in p_polaczenia_plytkowe" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.zid}}</td>
            <td>{{zl.plytka_id}}. {{zl.pnazwa}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.etykieta}} </td>
            <td>{{zl.ilosc_pin}}</td>
        </tr>
        <tr ng-show="false">

        </tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <br>
    <table class="table">
        <caption>Wtyczki płytkowe</caption>
        <tr>
            <th>Id</th>
            <th> Płytka </th>
            <th> Miejsce </th>
            <th> Nazwa</th>
            <th> Ilość pinów</th>
        </tr>
        <tr ng-repeat-start="zl in p_wtyczki" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.zid}}</td>
            <td>{{zl.plytka_id}}. {{zl.pnazwa}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.etykieta}} </td>
            <td>{{zl.ilosc_pin}}</td>
        </tr>
        <tr ng-show="false">

        </tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <br>
    <table class="table">
        <caption>Inne płytkowe</caption>
        <tr>
            <th>Id</th>
            <th> Płytka </th>
            <th> Miejsce </th>
            <th> Nazwa</th>
            <th> Ilość pinów</th>
        </tr>
        <tr ng-repeat-start="zl in p_inne" ng-style='$odd ? {"background-color": "#f1f1f1" } : { "background-color" : "#ffffff"}'>
            <td>{{zl.zid}}</td>
            <td>{{zl.plytka_id}}. {{zl.pnazwa}}</td>
            <td>{{zl.pomieszczenie}} :: {{ zl.miejsce }} </td>
            <td>{{zl.etykieta}} </td>
            <td>{{zl.ilosc_pin}}</td>
        </tr>
        <tr ng-show="false">

        </tr>
        <tr ng-repeat-end ng-show="false"></tr>
    </table>
    <hr>
    

</div>